from launch import LaunchDescription
from launch_ros.actions import Node

def generate_launch_description():
    # Read the URDF file content
    urdf_file_path = '/home/superpavan/pavan_ws/src/bot_description/urdf/bot.urdf'
    with open(urdf_file_path, 'r') as urdf_file:
        robot_description_content = urdf_file.read()

    return LaunchDescription([
        # Node to publish the robot state
        Node(
            package='robot_state_publisher',
            executable='robot_state_publisher',
            name='robot_state_publisher',
            output='screen',
            parameters=[{'robot_description': robot_description_content}]
        ),
        # Launch RViz
        Node(
            package='rviz2',
            executable='rviz2',
            name='rviz2',
            output='screen'
        )
    ])

